<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.BookApp2"
        tools:targetApi="31">
        <activity
            android:name=".Activities.MyOrdersScreen"
            android:exported="false" />
        <activity
            android:name=".Activities.MyBillActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ViewMyCart"
            android:exported="false" />
        <activity
            android:name=".Activities.DetailBook"
            android:exported="false" />
        <activity
            android:name=".Activities.EditMyBook"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.AddCategory"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.EditUserActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SignUpForGoogleAccount"
            android:exported="false" />
        <activity
            android:name=".Activities.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".Activities.SignInEmailActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.LoginScreen"
            android:exported="false" />
    </application>

</manifest>